<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
</head>

<body>
    <h1 class="mx-auto" style="width: 200px;">{{place.name}}</h1>
    <h2>관광</h2>
    <div class="container">
        <div class="row">
            {% for item in item1 %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if 'firstimage' in item%}
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{item.firstimage}}"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder: Thumbnail">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    </svg>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">
                        <h5>{{item.title}}</h5>
                        </p>
                    </div>
                </div>
            </div>

            {%endfor%}
        </div>
    </div>
    <h2>문화</h2>
    <div class="container">
        <div class="row">
            {% for item in item2 %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if 'firstimage' in item%}
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{item.firstimage}}"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder: Thumbnail">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    </svg>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">
                        <h5>{{item.title}}</h5>
                        </p>
                    </div>
                </div>
            </div>

            {%endfor%}
        </div>
    </div>
    <h2>공연/축제</h2>
    <div class="container">
        <div class="row">
            {% for item in item3 %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if 'firstimage' in item%}
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{item.firstimage}}"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder: Thumbnail">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    </svg>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">
                        <h5>{{item.title}}</h5>
                        </p>
                    </div>
                </div>
            </div>

            {%endfor%}
        </div>
    </div>
    <h2>레포츠</h2>
    <div class="container">
        <div class="row">
            {% for item in item4 %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if 'firstimage' in item%}
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{item.firstimage}}"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder: Thumbnail">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    </svg>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">
                        <h5>{{item.title}}</h5>
                        </p>
                    </div>
                </div>
            </div>

            {%endfor%}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>